/**misc pages style 404 login, register etc.**/

.material-bg{
    background: url('../images/bg1.jpg') no-repeat center center;
}
.error-digit{
    color: #fff;
    font-size: 100px;
    line-height: 100px;
    text-align: center;
}
.error-text{
    color: #fff;
}

.page-login-register{
    background: #fff;
}