/*
Right sidebar style
*/
.side-nav-wrapper{
    .input-field{
        margin-top: 0px;
        position: relative;
        
    }
}
.chat-list{
    .chat-item{
        line-height:inherit;
        a{
            img{
                margin-right: 10px;
            }
            height: auto;
            line-height: inherit;
            padding: 10px 15px;
            h5{
                margin: 0px;
                font-size: 13px;
                line-height: 18px;
                font-weight: 500;
                text-transform: capitalize;
            }
            span{
                font-size: 12px;
                line-height: 16px;
            }
        }
    }
}