/*
Tabs style
*/
.tabs .tab  a {
    color: #009688;
    &:hover{
         color: #009688;
    }
}
.tabs .tab.disabled a {
      color: #009688;
    cursor: default;
    opacity:0.5;
}
.tabs .indicator {
    background-color: #009688;
}
.tabs {
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
}

.tabs .tab a:hover, .tabs .tab a.active{
      color: #009688;
}