/*
Template widgets (Reusable)
*/

 ̰
.widget_1{
    background: #fff;
    padding: 20px 15px;
    i{
        display: block;
        margin: 0 auto;
        font-size: 60px;
        float: left;
        margin-right: 20px;
        width: 60px;
    }
    .content{
        overflow: hidden;
        text-align: right;
    }
}

.avtar-list{
    li{
        vertical-align: middle;
        padding-top:15px;
        &:first-child{
            padding-top: 0px;
        }
        a{
            display: block;
            .avtar{
                display: block;
                float: left;
                vertical-align: middle;
                margin-right: 15px;
                margin-top: -3px;
            }
            .content{
                overflow: hidden;
                vertical-align: middle;

            }
        }
    }
}
.activity-list{
    li{
        position:relative;
        border-left:1px solid #ccc;
        padding-bottom:15px;
        vertical-align:middle;
        &:before{
            content: '';
            position: absolute;
            left: -6px;
            top: 3px;
            background-color: #ccc;
            width: 12px;
            height: 12px;
            border-radius: 100%;
        }
        a{
            margin-left: 30px;
            display: block;
            span{
                display: block;
                margin-top: -3px;
            }
        }
        &:last-child{
            padding-bottom: 0px;
        }
        &.blue-color{
            border-left-color: #2196F3;
            &:before{
                background-color: #2196F3;
            }
        }
        &.green-color{
            border-left-color: #4CAF50;
            &:before{
                background-color: #4CAF50;
            }
        }
        &.indigo-color{
            border-left-color: #3f51b5;
            &:before{
                background-color: #3f51b5;
            }
        }
        &.red-color{
            border-left-color: #F44336;
            &:before{
                background-color: #F44336;
            }
        }
        &.teal-color{
            border-left-color: #009688;
            &:before{
                background-color: #009688;
            }
        }
        &.yellow-color{
            border-left-color: #ffeb3b;
            &:before{
                background-color: #ffeb3b;
            }
        }
    }
}
.collections-list{
    margin-left: -20px;
    margin-right: -20px;
    position:relative;
    >li{
        padding: 10px 10px;
        border-top: 1px solid #eee;
        &:last-child{
            padding-bottom: 0px;
        }
    }
    .collections-title{
        font-weight: 500;
        color: #000;
        font-size: 15px;
        margin-bottom: 0;
        line-height: 22px;
    }
    .collections-content{
        font-size: 13px;
        color: #999;
    }
    .tag-about{
        margin-top: 10px;
        margin-bottom: 5px;
    }
}
