

<main class="main-content">
            <div class="page-content">
                <div class="row margin-b-0">
                    <div class="col s12">
                        <div class="card">                       
                            <div class="card-content">
                                
                                <table>
                                    <thead>
                                        <tr>
                                            <th data-field="id">Profile Picture</th>
                                            <th data-field="name">UserName</th>
                                            <th data-field="price">Phone Number</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <td><%= image_tag(@user.image ,:size => "260x180", :crop => :fill , :style => "border: 1px solid red")%></td>
                                            <td><%= @user.name%></td>
                                            <td><%= @user.phone_no%></td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div><!--end cards-->
                    </div>
                </div><!--end row-->
                 
            </div>
        </main>
